// Vendor
@import "../../vendors/datatables-1.10.16/css/jquery.dataTables.min.css";
@import "../../vendors/datatables-1.10.16/css/dataTables.bootstrap.min.css";


table.dataTable thead th,
table.dataTable thead td,
table.dataTable.no-footer {
    border-color: #d1d1d3;
}

.dataTables_wrapper .row .col-sm-12 {
    width: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin: 0;
}

.paging_full_numbers {
    width: 100%;
}